main {
  position: relative;
  isolation: isolate;
}

.divider {
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    var(--color-border),
    transparent
  );
}